@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  text-align: center;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: hsl(201 11% 66% / var(--tw-text-opacity));
}
