@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
  @apply font-bold md:text-5xl text-4xl mb-6 text-darkGrayishBlue;
}

.company-icons {
  @apply flex md:flex-row flex-col md:justify-between items-center space-y-10 md:space-y-0;
}
.list-title {
  @apply font-bold mb-2 text-darkGrayishBlue;
}

.list-body {
  @apply text-grayishBlue mb-10;
}
.supercharge-body {
  @apply flex flex-col justify-center items-center md:gap-6 max-w-xs;
}
.supercharge-title {
  @apply font-bold mb-2 text-darkGrayishBlue md:text-2xl;
}
.section-container {
  @apply max-w-6xl mx-auto text-center;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  text-align: center;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: hsl(201 11% 66% / var(--tw-text-opacity));
  @apply mb-10 md:text-2xl text-xl;
}
