@tailwind base;
@tailwind components;
@tailwind utilities;

h1.section-title {
  @apply font-bold md:text-5xl text-4xl mb-6 text-darkGrayishBlue;
}

.section-container {
  @apply max-w-6xl mx-auto text-center;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  text-align: center;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: hsl(201 11% 66% / var(--tw-text-opacity));
}
